<link rel="stylesheet" href="/css/pages.css">
<%- include('partials/header') %>

<div class="watchlist-section">
    <div class="heading">
        <h1>Watchlist</h1>
        <hr>
    </div>
    <% if (watchlist && watchlist.length > 0) { %>
        <% watchlist.forEach(movie => { %>
            <div class="movie-display-container">
                <div class="movie-display-img-container">
                    <img src="<%= movie.poster %>" class="movie-display-img" alt="<%= movie.title %>">
                </div>
                <div class="movie-display-description">
                    <h3 class="movie-display-heading"><%= movie.title %></h3>
                    <hr>
                    <p class="movie-display-description"><%= movie.plot %></p>
                    <div class="movie-links">
                        <a href="/homeSearch?movieTitle=<%= movie.movie_id %>">More Info</a>
                        <a href="/watchlist/remove/<%= movie.movie_id %>">Remove</a>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div class="empty-list">
            <p>No movies in your watchlist.</p>
        </div>
    <% } %>
</div>

<%- include('partials/footer') %>
